@page "/"
@inject NavigationManager Nav
@inject MySettingsRepo MySettingsRepo

@if(settings is not null)
{
    <div class="row">
        @if(settings is not null && prayersTimes is not null)
        {
            <div class="col-6">
                <PrayersTimeComp settings="settings" prayersTimes="prayersTimes"/>    
            </div>

            <div class="col-6">
                <PrayInfoComp nowToday="nowToday" mySetting="settings" Chourouk="@chourouk.ToString("HH:mm")" prayersTimes="prayersTimes"/>
            </div>    
        }
        else
        {
            <div class="rz-m-12">
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" AriaLabel="Loading progress" />
            </div>
        }

    </div>
}


@code{
    private MySetting? settings =null;
    private PrayerTimes? prayersTimes;
    private DateTime chourouk;
    private DateTime nowToday;

    protected override async Task OnInitializedAsync()
    {
        var settingVm = await MySettingsRepo.GetSettingAsync();
        if(settingVm is null)
            Nav.NavigateTo("/settings");

        settings = new MySetting
            {
                DesMasjid = settingVm!.DesMasjid,
                Latitude = settingVm.Latitude,
                Longitude = settingVm.Longitude,
                MyCalculationMethode = settingVm.MyCalculationMethode,
                MyMadhab = settingVm.MyMadhab,
                MySettingsId = 1,
                TimeZoneId = settingVm.TimeZoneId
            };

        var coordinates = new Coordinates(settings!.Latitude??0.0, settings!.Longitude??0.0);
        Madhab madhab = settings.MyMadhab?? new();
        CalculationMethod calcMethod = settings.MyCalculationMethode?? new();        
        CalculationParameters parameters = CalculationMethodExtensions.GetParameters(calcMethod);
        parameters.Madhab = madhab;
        var myDate = new DateComponents(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
        string timez = settings.TimeZoneId;
        prayersTimes = new PrayerTimes(coordinates, myDate,parameters);        
        chourouk=TimeConvertToLocal.ConvertToLocal(prayersTimes.Sunrise, timez);
        nowToday = DateTime.Now;
    }    
}

