@page "/settings"

<h1 class="text-decoration-underline fw-bold text-light mb-3">صفحة الإعدادات</h1>

    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 24px; margin-bottom:10px;">خط الطول رقم</label>
                <input type="number" class="form-control bg-transparent text-light placeholder-glow fw-bold" style="font-size: 24px;" placeholder="خط الطول رقم"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 24px; margin-bottom:10px;">دائرة العرض رقم</label>
                <input type="number" class="form-control bg-transparent text-light placeholder-glow fw-bold" style="font-size: 24px;" placeholder="دائرة العرض رقم" />
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 24px; margin-bottom:10px;">طريقة الحساب</label>
                <input type="number" class="form-control bg-transparent text-light placeholder-glow fw-bold" style="font-size: 24px;" placeholder="خط الطول رقم" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 24px; margin-bottom:10px;">المذهب</label>
                <input type="number" class="form-control bg-transparent text-light placeholder-glow fw-bold" style="font-size: 24px;" placeholder="دائرة العرض رقم" />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 24px; margin-bottom:10px;">إسم المسجد</label>
                <input type="text" class="form-control bg-transparent text-light placeholder-glow fw-bold" style="font-size: 20px;" placeholder="إسم المسجد" />
            </div>
        </div>        
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success w-100">
                <img src="images/checkmark.png" style="width: 20px"/>
                <span class="fw-bolder text-light" style="font-size: 24px;">حفظ الإعدادات</span>
            </button>
        </div>
    </div>


@code {

}
