<div class="card bg-warning bg-opacity-25 h-100 border border-3 border-warning rounded-5 p-2 text-center">
    <h1 style="font-size:4em; color:white;" class="text-center">
        آذان @nextPrayerNameArab بعد        
    </h1>
    <h1 style="font-size:4em; color:white;" class="text-center">
        @countDownToNextPrayerArab
    </h1>

    
    
    <h3 style="color: white;">
        <img src="images/mosquegps128.png" style="width:42px;"/>
        @mySetting!.DesMasjid
    </h3>

    <h3 style="color: white;">
        <img src="images/calendar128.png" style="width:42px;"/>
        @($"تاريخ اليوم: {nowToday.ToString("dd-MM-yyyy")} التوقيت المحلي: {nowToday.ToString("HH:mm:ss")}")
    </h3>

    <div class="row">
        <div class="col-6">
            <h2 style="color: white;">الشروق على @Chourouk</h2>
            
        </div>

        <div class="col-6">
            <h2 style="color: white;">الجمعة على 12:55</h2>
            
        </div>
    </div>

</div>

@code{
    [Parameter]
    public MySetting? mySetting { get; set; } = new();

    [Parameter]
    public string? Chourouk { get; set; } = "10:55";

    [Parameter]
    public PrayerTimes? prayersTimes { get; set; }

    [Parameter]
    public DateTime nowToday { get; set; }

    [Parameter]
    public string nextPrayerName { get; set; } = "";

    [Parameter]
    public TimeSpan countDownToNextPrayer { get; set; }
    private string nextPrayerNameArab = "";
    private string countDownToNextPrayerArab = "";

    protected override void OnParametersSet()
    {
        switch(nextPrayerName)
        {
            case "NONE":
                nextPrayerNameArab = "";
                break;
            case "FAJR":
                nextPrayerNameArab = "الفجر";
                break;
            case "FAJR2":
                nextPrayerNameArab = "فجر الغد";
                break;
            case "SUNRISE":
                nextPrayerNameArab = "الشروق";
                break;
            case "DHUHR":
                nextPrayerNameArab = "الظهر";
                break;
            case "ASR":
                nextPrayerNameArab = "العصر";
                break;
            case "MAGHRIB":
                nextPrayerNameArab = "المغرب";
                break;
            case "ISHA":
                nextPrayerNameArab = "العشاء";
                break;
            default:
                nextPrayerNameArab = "";
                break;
        }

        countDownToNextPrayerArab = $"{countDownToNextPrayer.Hours.ToString()} سا , {countDownToNextPrayer.Minutes.ToString()} د , {countDownToNextPrayer.Seconds.ToString()} ثا";
    }

}
